<ion-view view-title="Login" hide-nav-bar="true">
  <ion-content scroll="false">
    <ion-slides  options="options" slider="data.slider">
      <ion-slide-page>
        <div class="login-bg">
          <button class="fb-btn" ng-click="fbLogin(); getInfo()"  ui-sref="profile">
            Login with facebook
          </button>
        </div>
      </ion-slide-page>

      <ion-slide-page>

        <section class="less-margin onboard">
          <div class="profile-intro">
            <h4>Hello, {{name}}</h4>
            <h6>First things first, let's set up your profile</h6>
          </div>
          <div class="profile-img">
            <img ng-src={{fbpic}}>
          </div>
          <form class="profile-form">
            <div ng-floatl>
              <label>NAME</label>
              <input placeholder="NAME" style="width: 100%; padding: 0 0 0 43px;"/>
            </div>
            <textarea placeholder="Add a bio to your closet"></textarea>
            <div ng-floatl>
              <label>ADDRESS</label>
              <input placeholder="ADDRESS"/>
            </div>
          </form>

          <p class="fineprint">We promise your address will never be shared on your profile or made public; we will only
            send it to
            your
            renters via Nifty's in-app messenger after you have approved a rental request</p>
          <p ui-sref="payment" class="next">Next</p>
          <p ui-sref="payment" class="skip"> Skip this step for now</p>
        </section>
      </ion-slide-page>

      <ion-slide-page>
        <section class="less-margin onboard">
          <div class="profile-intro">
            <h4>Hello, {{name}}</h4>
            <h6>Now connect your forms of payment to Nifty</h6>
          </div>
          <br><br><br><br><br>
          <button>VENMO</button><br>
          <p class="fineprint">you are not connected to venmo</p>
          <button>PAYPAL</button><br>
          <p class="fineprint">you are not connected to paypal</p>
          <p ui-sref="clothing" class="next">Next</p>
          <p ui-sref="clothing" class="skip"> Skip this step for now</p>
        </section>
      </ion-slide-page>

      <ion-slide-page>
        <section class="less-margin onboard">
          <div class="profile-intro">
            <h4>Hello, {{niftyuser.name}} , {{user.name}}</h4>
            <h6> Last step: Add your first dress!</h6>
          </div>
          DRESS INFORMATION
          <form class="profile-form">
            <div ng-floatl>
              <label>NAME</label>
              <input placeholder="NAME"/>
            </div>
            <div ng-floatl>
              <label>SIZE</label>
              <input placeholder="SIZE" style="width: 100%; padding: 0 0 0 43px;"/>
            </div>
            <div ng-floatl>
              <label>BRAND</label>
              <input placeholder="BRAND"/>
            </div>
            <div ng-floatl>
              <label>MRP</label>
              <input placeholder="MRP"/>
            </div>
            <div ng-floatl>
              <label>RENTAL COST</label>
              <input placeholder="RENTAL COST"/>
            </div>
            <textarea class="floatl__textarea"
                      placeholder="briefly describe your dress; anything from fit to color to occasion!"></textarea>
            MODEL INFORMATION
            <div ng-floatl>
              <label>HEIGHT</label>
              <input placeholder="HEIGHT"/>
            </div>
            <div ng-floatl>
              <label>BUST</label>
              <input placeholder="BUST"/>
            </div>
            <div ng-floatl>
              <label>WAIST</label>
              <input placeholder="WAIST"/>
            </div>
          </form>
          <button>TAGS</button>

          <p ui-sref="complete" class="next">Next</p>
          <p ui-sref="complete" class="skip"> Skip this step for now</p>
        </section>
      </ion-slide-page>

      <ion-slide-page>
        <section class="less-margin onboard">
          <div class="profile-img">
            <img ng-src="{{niftyuser.pictureUrl}}">
            <img src="../../img/shivi.jpg">
          </div>
          Congratulations you're ready to start renting clothes!

          <div>X to close this screen</div>
        </section>
      </ion-slide-page>

    </ion-slides>
  </ion-content>
</ion-view>
