<ion-view view-title="Nifty">
  <ion-content class="padding">

    <section id="homefeed">
      <!-- WILL DEVELOP JS FUNCTION FOR THIS! -->
      <div class="homefeed-item">
        <div class="userinfo-container">
          <div class="prof-pic-thumb-container">
            <img class="prof-pic-thumb" ng-src="{{homefeed.face}}">
          </div>
          <p class="">{{homefeed.name}}</p>
        </div>
        <div class="clothing-thumb-container">
          <img class="clothing-thumb" ng-src="{{homefeed.dressimg}}">
        </div>
        <div class="clothing-description-container">
          <p class="clothing-price">Rent for ${{homefeed.price}}</p>
          <p class="clothing-name">{{homefeed.dressname}}</p>
        </div>
      </div>

    </section>

  </ion-content>
</ion-view>
