<ion-view view-title="Nifty">
  <ion-content class="padding">
    <ion-list id="homefeed">
      <ion-item ng-repeat="home in home" type="item-text-wrap" class="homefeed-item">
        <div class="userinfo-container">
          <div class="prof-pic-thumb-container">
            <img class="prof-pic-thumb" ng-src="{{home.face}}">
          </div>
          <p>{{home.name}}</p>
        </div>
        <div class="clothing-thumb-container">
          <img class="clothing-thumb" ng-src="{{home.dressimg}}">
        </div>
        <div class="clothing-description-container">
          <p class="clothing-price">Rent for ${{home.price}}</p>
          <p class="clothing-name">{{home.dressname}}</p>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
