<ion-view view-title="Login">
  <ion-content>
    <section class="less-margin onboard">
      <div class="profile-intro">
        <h4>Hello, {{niftyuser.name}} , {{user.name}}</h4>
        <h6>Now connect your forms of payment to Nifty</h6>
      </div>
      <br><br><br><br><br>
      <button>VENMO</button><br>
      <p class="fineprint">you are not connected to venmo</p>
      <button>PAYPAL</button><br>
      <p class="fineprint">you are not connected to paypal</p>
      <p ui-sref="clothing" class="next">Next</p>
      <p ui-sref="clothing" class="skip"> Skip this step for now</p>
    </section>
  </ion-content>
</ion-view>
