<ion-view view-title="Login">
  <ion-content>
    <section class="less-margin">
      <div class="profile-intro">
        <h4>Hello, {{user.name}}</h4>
        <h6>First things first, let's set up your profile</h6>
      </div>
      <div class="profile-img">
        <img src="../../img/shivi.jpg">
      </div>
      <form class="profile-form">
        <div ng-floatl>
          <label>NAME</label>
          <input placeholder="NAME" style="width: 100%; padding: 0 0 0 43px;"/>
        </div>
        <textarea placeholder="Add a bio to your closet"></textarea>
        <div ng-floatl>
          <label>ADDRESS</label>
          <input placeholder="ADDRESS"/>
        </div>
      </form>

      <p class="fineprint">We promise your address will never be shared on your profile or made public; we will only
        send it to
        your
        renters via Nifty's in-app messenger after you have approved a rental request</p>
      <p ui-sref="payment" class="next">Next</p>
      <p ui-sref="payment" class="skip"> Skip this step for now</p>
    </section>
  </ion-content>
</ion-view>
